@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Raleway:wght@400;500&display=swap');

:root {
  --primary-color: #581c87;
  --light-violet: rgb(146, 39, 223);
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}



main {
  text-align: center;
  margin: auto;

}
h1{
  font-family:'Raleway' sans-serif ;
  color: #411265;
  text-shadow: #581c87 0.5rem 0.5rem 1.5rem;
      margin-bottom: 3rem;
}

h2 {
  
  font-size: xx-large;
  margin: 2rem;
}
h3{
  margin-top: 1.5rem;
}
h4{
  margin-top: 5rem;
}

hr{
  background-color: #581c87;
  margin: 0rem;
  margin-bottom: 3rem;
  width:auto ;
  height: 1.5px;
}

input {
  font-size: 17px;
  font-family:sans-serif;
  padding: 0.7rem 0.7rem;
  margin: auto;
  margin-top: 2rem;
  
  border: 2px solid var(--primary-color);
  border-radius: 2rem;
  width: 100%;
  min-width: 150px;
  max-width: 258px;
  display: block;
}

#show-btn {
  background: var(--light-violet);
  border: none;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: auto;
  margin-top: 1.5rem;
  display: block;
  box-shadow: 2px 2.5px 10px 1.5px rgb(103, 33, 119);
}


#show-btn:hover {
    background-color: rgb(103, 33, 119);
    color: #fff;
    box-shadow: 2px 3px 2px 2px rgb(255, 255, 255);
  }

#result{
    font-size: x-large;
    margin: auto;
    width: auto;
    border-radius: 2rem;
    margin-top: 2.5rem;
    padding: 1rem;
    font-weight: bold;

}

a,
li {
    display: inline;
    margin: 0.5rem;
    color: #fff;
    text-align: center;
    list-style: none;
    text-decoration: none;
}


footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    height: 80px;
    margin-top: 5rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  
  }
  
  .link {
    color: white;
  
  }
  
  .list-unordered {
    display: block;
    margin: 1rem;
    margin-top: 1.5rem;
    padding-left: 0px;
  }
  